.MuiDialog-paperWidthSm {
  min-width: calc(100% - 50vw);
}

.space {
  height: 50px;
}

.android-frame{
  background-image: url(./assets/android-frame.png);
  background-size: cover;
  height: 770px;
  width: 375px;
}

/* default */

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

/* end of default */

.rdw-image-modal {
  display: flex !important;
  visibility: visible !important;
}

.container-editor-title {
  padding: 1px;
  min-height: 30vh;  
  box-shadow: 0 0 4px #0D47A1;
  border-radius: 15px;
}


.container-editor {
  padding: 10px;
}

.device-container {
  margin-top: 85px;
  margin-left: 17px;
  width: calc(100% - 32px);
  height: calc(100% - 170px);
  z-index: 1;
  overflow: auto;
  /* opacity: 0.3;
  background-color: black; */
}

.wrapper {
  min-height: 100vh;
  background-color: #FAFAFA;
  box-shadow: 0 0 4px #0D47A1;
  border-radius: 15px;
}

.rdw-editor-toolbar {
  border-radius: 15px 15px 0px 0px !important;
  background-color: #2196F3 !important;
}

.editor {
  padding: 10px;
  min-height: 90px;
}

.menu-preview {
  height: 170px;
  width: 170px;
  border-radius: 15px;
  background-color: #E91E63;
  box-shadow: 0 0 5px #000000;
}

/* image  */

.image-profile-preview {
  border-radius: 0 0 15px 15px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 0 0 5px #000000;
}

.image-menu {  
  border-radius: 15px 15px 0 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-content {
  height: 200px !important;
  width: 100% !important;
  object-fit: cover;
}

.image-title {
  width: 100%;
  height: 250px;
  object-fit: cover;
  box-shadow: 0 0 10px #000000
}

.image-store-preview {
  border-radius: 15px;
  width: 100%;
  height: 150px;
  object-fit: cover;
  box-shadow: 0 0 5px #000000;
}


/* text */
.title-menu {
  margin: 7px;
  text-align: center;
  color: #FFFFFF;
  font-weight: bold;
}

/* position */

.space {
  height: 100px;
}

.full {
  width: 100%;
  height: 100%;
}

.flex-center-all {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
}

.flex-center-column {
  display: flex;
  align-items: center;
  flex-direction: column;  
  justify-content: center;
}

/* color */
.primary-bg {
  background-color: #2196F3;
}

.secondary-bg {
  background-color: #E91E63;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
